@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
:root {
  --ecoGreen: #2eca6a;
  --oldGreen: #507B00;
  --lightGreen: #a7d930;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

a {
  color: #000000;
  transition: all .5s ease;
}

a:hover {
  color: #2eca6a;
  text-decoration: none;
}

hr {
  color: #2eca6a;
}

/**************************************************/

.color-background {
  background-color: #f8f8f8;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
  color: black;
}

.navbar .nav-item:hover .nav-link {
  color: rgb(255, 255, 255) !important;
  background-color: var(--ecoGreen);
}

/**************************************************/

.carousel-inner img {
  width: 100%;
  height: 800px;
}

.custom-position1 {
  top: 35%;
}

.custom-position2 {
  top: 40%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

/**************************************************/

.shadow-white {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
  height: 220px;
}

.shadow-black {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.shadow-green {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(46, 202, 106, 0.746) !important;
}

.text-color {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(63, 61, 61);
}



.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #d5d5d5;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.philosophy {
  margin: 0px 50px;
}

/*Connect*/

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #FF0F80;
}

.fa-whatsapp {
  color: #25d366;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-google-plus-g:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-whatsapp:hover {
  color: #d5d5d5;
}

.fa-angle-left {
  color: var(--ecoGreen);
  width: 50px !important;
  height: 70px !important;
  margin-right: 300px !important;
}

.fa-angle-right {
  color: var(--ecoGreen);
  width: 50px !important;
  height: 70px !important;
  margin-left: 300px !important;
}

/**************************************************/

/*Project CSS*/

img.project-img {
  width: 300px;
  height: 100px;
}

.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}

.project-row {
  display: flex;
  flex-direction: row;
}

.project-box {
  position: relative
}

.project-box .badge {
  position: absolute;
  right: 20px
}

.project-box h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden
}

.project-box ul li {
  padding-right: 30px
}

.project-box .project-members a {
  margin: 0 0 10px -12px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.project-box .project-members a:first-of-type {
  margin-left: 0
}

.thumb-sm {
  height: 36px;
  width: 36px;
}

.font-13 {
  font-size: 13px!important;
}

/**************************************************/

.text-dark {
  color: #313a46!important;
}


.display-dark {
  background-color: black;
}

.text-green {
  color: var(--ecoGreen) !important;
}

.display-green {
  background-color: var(--oldGreen);
}

.light-green {
  background-color: #a7d930;
}

.form-control:focus {
  border-color: #95c22b !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(4, 223, 15, 0.5) !important;
}

.csr-container {
  height: 600px;
}

.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin: 0 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--lightGreen);
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
  width: 20px;
  height: 10px;
  margin: 0 10px;
  background-color: #ffff99;
}

/*88888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

/*------/ Intro Single /------*/

.intro-single {
  padding: 3rem 0 3rem;
}

@media (max-width: 767px) {
  .intro-single {
    padding-top: 2.5rem;
  }
}

.intro-single .title-single-box {
  padding: 1rem 0 1rem 2rem;
}

.intro-single .title-single-box {
  border-left: 3px solid #2eca6a;
}

.intro-single .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.1rem;
  }
}

@media (min-width: 992px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.5rem;
  }
}

.intro-single .breadcrumb-box {
  padding: 1rem 0 0 .5rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: black !important;
  padding-right: 0;
  padding-left: 0;
}

.project-details-carousel-container {
  width: 70%;
}

.project-details-carousel-container .carousel-inner img {
  width: 100%;
  height: 500px;
}

.project-description-container {
  width: 70%;
}

/*------/ Property Single /-----*/

.summary-list {
  padding-right: 1rem;
  color: #000000;
}

.summary-list .list {
  padding: 0;
  line-height: 2;
}

.summary-list .list span {
  color: #555555;
}

@media (max-width: 767px) {
  .property-agent {
    margin-top: 2.5rem;
  }
}

.property-agent .title-agent {
  font-weight: 600;
}

.property-agent ul {
  line-height: 2;
  color: #000000;
}

.property-agent .socials-a {
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .property-contact {
    margin-top: 2.5rem;
  }
}

/*------/ List a /------*/

.list-a {
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;
}

.list-a li {
  position: relative;
  width: 50%;
  float: left;
  padding-left: 25px;
  padding-right: 5px;
}

@media (min-width: 992px) {
  .list-a li {
    width: 33.333%;
  }
}

.list-a li:before {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #313131;
  top: 15px;
  left: 0;
}



.card-box-ico {
  padding: 1rem 3rem 1rem 2.5rem;
  border: 5px solid #2eca6a;
}

.card-box-ico span {
  font-size: 2rem;
  color: #000000;
}

.project-floorplan-carousel-container {
  width: 100%;
}

.project-floorplan-carousel-container .carousel-inner img {
  height: 400px;
}

@media (min-width: 768px) {
  .project-floorplan-carousel-container {
    width: 100%;
  }
  .project-floorplan-carousel-container .carousel-inner img {
    height: 350px;
  }
}

@media (min-width: 992px) {
  .project-floorplan-carousel-container {
    width: 100%;
  }
  .project-floorplan-carousel-container .carousel-inner img {
    height: 400px;
  }
  .project-details-carousel-container {
    width: 70%;
  }
  .project-details-carousel-container .carousel-inner img {
    width: 100%;
    height: 500px !important;
  }
}

/*------/ Nav Pills  /------*/

.nav-pills-a.nav-pills .nav-link {
  color: #000000;
  position: relative;
  font-weight: 600;
}

.nav-pills-a.nav-pills .nav-link.active {
  background-color: transparent;
}

.nav-pills-a.nav-pills .nav-link.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #2eca6a;
  z-index: 2;
}

.btn.btn-a {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-a:hover {
  background-color: #2eca6a;
  color: #000000;
}

/*****************************************************************/
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.section-about .title-vertical {
  position: absolute;
  letter-spacing: 0;
  transform: rotate(-90deg);
  top: 50px;
  text-align: left;
  font-size: 1.8rem;
  width: 300px;
  font-weight: 700;
  text-align: right;
}

.about-img-box {
  padding-left: 1rem;
  position: relative;
}

@media (min-width: 576px) {
  .about-img-box {
    padding-left: 4rem;
  }
}

@media (min-width: 768px) {
  .about-img-box {
    padding-left: 5rem;
  }
}

.sinse-box {
  background-color: #2eca6a;
  padding: 1rem 2rem;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

@media (min-width: 576px) {
  .sinse-box {
    padding: 1.5rem 2.5rem;
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  .sinse-box {
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 992px) {
  .sinse-box {
    padding: 3rem 4.5rem;
  }
}

.sinse-box .sinse-title {
  font-weight: 700;
  letter-spacing: 0.043em;
  font-size: 1rem;
}

@media (min-width: 576px) {
  .sinse-box .sinse-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .sinse-box .sinse-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .sinse-box .sinse-title {
    font-size: 2.2rem;
  }
}

.sinse-box .sinse-title span {
  position: absolute;
}

.sinse-box .sinse-title span:after {
  content: ' ';
  width: 35px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -15px;
}

.sinse-box p {
  margin-bottom: 0;
  font-size: .7rem;
}

@media (min-width: 576px) {
  .sinse-box p {
    font-size: .8rem;
  }
}

@media (min-width: 576px) {
  .sinse-box p {
    font-size: 1rem;
  }
}



/*------/ Title /------*/

.title-c {
  font-size: 2.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .title-c {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .title-c {
    font-size: 2.5rem;
  }
}

.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.title-box-d .title-d {
  font-weight: 550;
  font-size: 1.6rem;
}

.title-box-d .title-d:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #2eca6a;
  bottom: 20px;
  left: 0;
}

.color-text-a {
  color: #555555;
}


/**************************************************************************************/

footer {
  margin-top: 50px;
  padding-top: 2rem;
  background-color: var(--oldGreen);
  color: rgb(255, 255, 255);
}

hr.light {
  border-top: 1px solid rgb(255, 255, 255);
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

section.contact-section {
  width: 70%;
  margin-left: 15%;
}

@media (max-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
  img.project-img {
    width: 300px;
    height: 100px;
  }
}

@media (min-width: 992px) {
  .fa-angle-left {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-right: 300px !important;
  }
  .fa-angle-right {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-left: 300px !important;
  }
}

@media (max-width: 768px) {
  img.project-img {
    width: 200px;
    height: 100px;
  }
  .fa-angle-left {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-right: 150px !important;
  }
  .fa-angle-right {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-left: 150px !important;
  }
}

@media (min-width: 768px) {
  img.project-img {
    width: 200px;
    height: 100px;
  }
  .fa-angle-left {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-right: 150px !important;
  }
  .fa-angle-right {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-left: 150px !important;
  }
}

@media (max-width: 576px) {
  .form-group {
    width: 300px;
    margin-left: 15%;
  }
  img.project-img {
    width: 250px;
    height: 150px;
  }
  .carousel-inner img {
    width: 100%;
    height: 300px;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 60%;
    padding: 8px 14px;
  }
  .custom-position1 {
    top: 25%;
  }
  .custom-position2 {
    top: 30%;
  }
  .display-4 {
    font-size: 160%;
  }
  .lead {
    font-size: 110%;
  }
  .shadow-white {
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    transform: scale(0.9);
    opacity: 0.6;
    height: 130px;
  }
  .social a {
    font-size: 2.5em;
    padding: 1rem;
  }
  .margin-space {
    margin: 10px 0 !important;
  }
  footer {
    padding-top: 1rem;
    background-color: var(--oldGreen);
    color: #fafafad5;
  }
  hr.light {
    border-top: 1px solid #d5d5d5d5;
    width: 75%;
    margin-top: .4rem;
    margin-bottom: .4rem;
  }
  .footer-section p, .footer-section h6 {
    font-size: 90%;
    margin: 0;
  }
  .fa-angle-left {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-right: 0px !important;
  }
  .fa-angle-right {
    color: var(--ecoGreen);
    width: 50px !important;
    height: 70px !important;
    margin-left: 0px !important;
  }
  .project-description-container {
    width: 95%;
  }
  .project-details-carousel-container {
    width: 95%;
  }
}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }